.Sidebar{
    height: 100%;
    width:300px;
    background-color: #2F4050;
    color: white;
    position:absolute; 
    
}

.sidebar-ul{
    list-style-type: none;
    height: auto;
    width: 100%;
    padding-top: 30px;
    text-align: center;
}

.sidebar-ul .row{
    padding: 30px;
    margin: 0%;
    width: 80%;
    height: 50px;
    cursor: pointer;
    
   
}

.title{
    text-align: center;
    padding-top: 100px;
}

.link{
    flex-direction: row;
}
